html {
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
}
.nasagif {
    height: 70px;
    display: block;
    margin: auto auto 20px auto;
}
main {
    color: blanchedalmond;
    margin: 50px auto auto auto;
}
#title {
    text-align: center;
    font-size: 60px;
    margin: 0 0 20px 0;
}
.title-info {
    text-align: center;
    font-size: 20px;
    margin: 0;
}
.title-info-tsl {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    margin: auto auto 50px auto;
}
figure {
    background-color: #090809;
    text-align: center;
    border-radius: 5px;
    width: auto;
}
figure img {
    margin: auto;
    align-items: center;
    border-radius: 5px;
    width: 50%;
    height: 50%;
}
#img-caption {
    font-style: italic;
    text-align: center;
    margin: 20px 50px;
}
#image-ppal {
    width: 80%;
    height: 80%;
}
p {
    text-align: center;
    margin: 20px 50px;
}
#tribute-link {
    font-style: italic;
    text-align: center;
    color: gray;
    display: block;
}
